/* assets/css/styles.css */

/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #007bff;
}

.navbar-brand img {
    max-height: 50px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #d4d4d4;
}

/* Estilos para el botón de búsqueda */
.btn-outline-success {
    color: #fff;
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    border-color: #28a745;
}
